.main {
    width: 100%;
    height: 100vh;
    background-image: url('../img/fon.png');
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.nav-link {
    font-size: 17px;
}

.nav-item {
    padding-right: 3%;
}

.main-content {
    display: flex;
    width: 70%;
    height: 49vh;
    /* border: solid 3px red; */
    margin: 0 auto;
    margin-top: 20vh;
}

.main-text {
    width: 52%;
    margin-right: 12%;
    height: 75%;
    margin-top: 2%;
    /* border: solid 3px blue; */
}
.main-header {
    font-size: 54px;
}
.main-p {
    margin-top: 10%;
    font-size: 2.3vh;
}
.main-button {
    margin-top: 5%;
    background: #D1A954;
    border: none;
    color: #ffffff;
    font-size: 18px;
    width: 160px;
    height: 50px;
}

.main-picture {
    width: 36%;
    /* border: solid 3px green; */
}

.picture {
    width: 20vw;
    height: 100%;
    /* border: solid 3px green; */
    margin: 0 auto;
    position: relative;
}
.img-afisha {
    max-height: 95%;
    position: absolute;
    z-index: 100;
}
.img-afisha-2 {
    position: absolute;
    margin-left: 5px;
    z-index: 1;
    max-height: 100%;
} 

#colorText {
    color: #ffffff;
}

.theatre {
    width: 100%;
    height: 385vh;
    background: #333333;
}

.colorYell {
    color: #D1A954;
}
.oTheatre {
    font-size: 48px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 3%;
}

.main-theatre {
    display: flex;
    width: 70%;
    height: 49vh;
    margin: 0 auto;
    margin-top: 5%;
    /* border: solid 3px blue; */
}
.oTheatreText {
    width: 40%;
    /* border: solid 3px blue; */
    margin-right: 2.5%;
}
.oTheatreInfo{
    width: 23%;
    margin-right: 2.5%;
}
.oTheatrePicture{
    width: 32%;
    /* border: solid 3px yellow; */
}
.oTextH {
    font-size: 1vw;
}
.oText {
    /* font-size: 14px; */
    font-size: 1.82vh;
    margin-top: 5%;
}
.img-oTeatre {
    max-width: 100%;
    max-height: 100%;
    margin-top: 15%;
}
.info {
    height: 85%;
    margin-top: 10%;
}
.cheaInfo {
    height: 40%;
    width: 100%;
    /* border: solid 3px yellow; */
}
.cheaImg {
    width: 75px;
    height: 75px;
    /* border: solid 3px green; */
}
.img-chea {
    width: 100%;
    height: 100%;
}
.cheaText {
    font-weight: bold;
    font-size: 1.2vw;
    margin-top: 10%;
}

.earInfo {
    height: 50%;
    width: 100%;
    margin-top: 8%;
}

.post {
    margin-top: 15vh;
}

.post-imgs {
    display: flex;
    width: 80%;
    margin: 0 auto;
    /* border: solid 2px red; */
    margin-top: 5%;
    height: 50vh;
}
.post-img {
    width: 30%;
}
.sil {
    margin-right: 5%;
}
.pil {
    margin-right: 5%;
}

.name-text {
    margin-top: 3%;
    margin-left: 5%;
    width: 95%;
    height: 15%;
    font-weight: bold;
}
.p1{
    background-image: url(../img/oscar.png);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
}
.p2{
    background-image: url(../img/goldgram.png);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
}
.p3{
    background-image: url(../img/shelc.png);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
}
.ear-txt-1 {
    writing-mode: vertical-rl;
    height: 42%;
    margin-top: 22vh;
    margin-left: 10px;
}
.ear-txt-2 {
    writing-mode: vertical-rl;
    height: 42%;
    margin-top: 25vh;
    margin-left: 10px;
}
.ear-txt-3 {
    writing-mode: vertical-rl;
    height: 42%;
    margin-top: 26.5vh;
    margin-left: 10px;
}

.est {
    display: flex;
    width: 40%;
    height: 40vh;
    margin: 0 auto;
    margin-top: 10%;
    background-image: url(../img/star-fon.png);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
}
.e {
    height: 33.33%;
    font-size: 3.7vh;
    text-align: center;
    font-weight: bold;
}
.est-ear {
    width: 40%;
    height: 100%;
}
#espan {
    width: 100%;
    margin-top: 2vh;
}
.est-txt {
    width: 60%;
}
.stars {
    display: flex;
    height: 5vh;
    width: 50%;
   margin-left: 10%;
    margin-top: 8vh;
}
.star {
    width: 25%;
    background-image: url(../img/star.png);
    background-position: center center; 
    background-repeat: no-repeat;
}
.est-text {
    width: 90%;
    margin-left: 10%;
    margin-top: 4vh;
    height: 20vh;
    font-weight: bold;
    font-size: 2.7vh;
}
.partners {
    margin-top: 5%;
}
.prts {
    width: 60%;
    margin: 0 auto;
    height: 40vh;
    margin-top: 12.5vh;
}
.prts-fon {
    background-image: url(../img/partners.png);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
}
.main-mc {
    margin: 0 auto;
    width: 90%;
    margin-top: 5%;
    height: 40vh;
    display: flex;
}
.num {
    height: 100%;
    width: 30%;
}
.nums {
    color: #ffffff;
    width: 100%;
    height: 20%;
    text-align: center;
    padding-top: 5%;
}
.inpt {
    width: 70%;
    height: 100%;
}
.inputs {
    height: 60%;
    width: 100%;
    display: flex;
}
.inpt-info {
    width: 60%;
    height: 100%;
    margin-right: 5%;
}
.sms {
    width: 35%;
    height: 92%;
}
.in1 {
    width: 100%;
    height: 45%;
    display: flex;
}
.in2 {
    width: 100%;
    height: 45%;
    margin-top: 5%;
    display: flex;
}
.in-nm {
    width: 45%;
    height: 65%;
    margin-right: 10%;
}
.in-comp {
    width: 45%;
    height: 65%;
}
.ii {
    width: 100%;
    height: 100%;
    background: #444444;
    border: 1px solid #616161;
    color: #ffffff;
}
.insms {
    width: 100%;
    height: 100%;
}
.textButton {
    width: 100%;
    height: 40%;
    display: flex;
}
.inTtx {
    height: 100%;
    width: 60%;
    color:#989898;
}
.inBut {
    width: 30%;
    margin-left: 10%;
}
.inBtn {
    margin-top: 7%;
    margin-left: 15%;
    background: #D1A954;
    border: none;
    color: #ffffff;
    font-size: 18px;
    width: 60%;
    height: 50px;
}
.nn {
    width: 100%;
}

@media (max-width: 1558px) {
    .oText {
        font-size: 1.82vh;
        margin-top: 15%;
    }

    .oTextH {
        font-size: 1.5vw;
    }

    .info {
        margin-top: 20%;
    }
}

@media (max-width: 1440px) {
    .main-header {
        font-size: 43px;
    }

    .main-p {
        font-size: 2.3vh;
    }
}

@media (max-width: 1350px) {
    .cheaImg {
        width: 60px;
        height: 60px;
    }

    .oText {
        font-size: 1.55vh;
        
    }
    .earInfo {
        margin-top: 0%;
    }
    .oText {
        font-size: 1.75vh;
    }
}

@media (max-width: 1100px) {
    .cheaImg {
        width: 65px;
        height: 65px;
    }

    .oTextH {
        font-size: 1.8vh;
    }

    .img-oTeatre {
        margin-top: 25%;
    }
}

@media (max-width: 1060px) {
    .oText {
        font-size: 1.68vh;
    }
}

@media (max-width: 992px) {
    .prts-fon {
        background-image: url(../img/prt3.jpg);
    }
    .partners {
        margin-top: 10%;
    }
    .est {
        width: 100%;
        height: 50vh;
        margin-top: 10%;
        background-image: url(../img/star-fon.png);
        background-position: center center; 
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main-picture {
        display: none;
    }
    .post-imgs {
        display: block;
        width: 60%;
        height: 130vh;
    }
    .ear-txt-1 {
        margin-top: 15vh;
    }
    .ear-txt-2 {
        margin-top: 18vh;
    }
    .ear-txt-3 {
        margin-top: 21.5vh;
    }
    .name-text {
        margin-top: 0;
        padding-top: 3%;
    }
    .sil {
        margin-right: 0%;
    }
    .pil {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .post-img {
        width: 100%;
        height: 40vh;
    }

    .cheaText {
        font-size: 1.7vw;
    }

    .main-text {
        width: 100%;
        height: 75%;
        margin-top: 5%;
    }

    .main-content {
        display: flex;
        width: 70%;
        height: 49vh;
        /* border: solid 3px red; */
        margin: 0 auto;
        margin-top: 20vh;
    }

    .main-header {
        font-size: 53px;
    }

    .main-p {
        font-size: 2.3vh;
    }

    .img-oTeatre {
        display: none;
    }
    .oTheatreText {
        width: 70%;
        margin-right: 5%;
    }
    .oTheatreInfo{
        width: 25%;
        position: absolute;
        right: 100px;
    }
    .oText {
        font-size: 1.82vh;
    }
    .oTextH {
        font-size: 2.3vh;
    }
    .info {
        margin-top: 27%;
    }
    .earInfo {
        height: 40%;
        margin-top: 10%;
        width: 100%;
    }
    .theatre {
        height: 470vh;
    }
    .main-mc {
        margin: 0 auto;
        width: 90%;
        margin-top: 10%;
        height: 65vh;
        display: flex;
        flex-direction: column-reverse;
    }
    .inpt {
        width: 100%;
        height: 100%;
    }
    .num {
        height: 30%;
        width: 100%;
        display: flex;
    }
    
    .inBut {
        width: 30%;
        margin-left: 10%;
        height: 73%;
    }
    .inTtx {
        height: 72%;
    }
    .sms {
        height: 70%;
    }
    .inpt-info {
        height: 80%;
    }
    .inputs {
        height: 50%;
    }
    
}

@media (max-width: 915px) {

    .main-theatre {
        width: 92%;
    }

    .oTheatreInfo {
        right: 40px;
    }
    .info {
        margin-top: 35%;
    }
}

@media (max-width: 875px) {
    .cheaText {
        font-size: 1.75vw;
    }
    
}

@media (max-width: 800px) {
    .oTheatreInfo {
        width: 30%;
        right: 20px;
    }
    .info {
        margin-top: 30%;
    }
    .cheaText {
        font-size: 1.8vw;
    }
}
@media (max-width: 768px) {
    .post {
        margin-top: 25%;
    }
    .inBtn {
        width: 80%;
    }
    .inTtx {
        height: 72%;
        margin-top: 30px;
    }
    .textButton {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column-reverse;
    }
    .inTtx {
        width: 100%;
    }
    .inBut {
        width: 60%;
        margin: 0 auto;
        height: 73%;
    }
    .inBtn {
        margin-left: 10%;
    }
}

@media (max-width: 735px) {
    .cheaText {
        font-size: 2.3vw;
    }
    .oText {
        font-size: 1.955vh;
    }
    .prts-fon {
        background-image: url(../img/prt2.jpg);
    }
}

@media (max-width: 720px) {
    .oText {
        font-size: 1.9vh;
    }
    .info {
        margin-top: 20%;
    }
    .oTheatreInfo {
        margin-right: 0%;
    }
}


@media (max-width: 665px) {
    .oTextH {
        font-size: 2vh;
    }
}

@media (max-width: 650px) {
    .post {
        margin-top: 20%;
    }
}

@media (max-width: 630px) {
    .post {
        margin-top: 20%;
    }
}

@media (max-width: 600px) {
    @media (max-height: 850px) {
        .theatre {
            height: 500vh;
        }
    }
    @media (max-height: 750px) {
        .theatre {
            height: 510vh;
        }
    }
    .main-text {
        width: 100%;
        height: 75%;
        margin-top: 5%;
    }

    .main-content {
        margin-top: 25%;
    }

    .main-header {
        font-size: 46px;
    }

    .main-p {
        font-size: 2.1vh;
    }
}

@media (max-width: 590px) {
    .post {
        margin-top: 40%;
    }
}

@media (max-width: 580px) {
    .main-mc {
        margin-top: 25%;
    }
    .nums {
        height: 50%;
    }
    .main-theatre {
        display: block;
        width: 70%;
        height: 49vh;
        margin: 0 auto;
        margin-top: 5%;
    }
    .cheaImg {
        width: 95px;
        height: 75px;
    }
    .cheaText {
        font-size: 3.5vw;
    }
    .oTheatreText {
        width: 100%;
        text-align: center;
    }
    .oText {
        font-size: 1.88vh;
        margin-top: 5%;
    }
    .oTheatreInfo {
        width: 100%;
        right: 0;
        position: relative;
    }
    .info {
        display: flex;
        margin-top: 10%;
    } 
    .earInfo {
    height: 40%;
    margin-top: 10%;
    width: 100%;
    }
    .earInfo {
        height: 40%;
        margin-top: 0%;
        width: 100%;
    }
    .main-theatre {
        width: 70%;
        height: 70vh;
        margin-top: 5%;
    }
    
    .oTextH {
        text-align: center;
        font-size: 2.8vh;
    }
    .cheaImg {
        margin: 0 auto;
    }
    .cheaText {
        text-align: center;
    }
    .inputs {
        height: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .inpt-info {
        width: 100%;
    }
    .sms {
        width: 70%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .inBut {
        margin-top: 50px;
        margin-bottom: 10px;
    }
    .num {
        margin-top: 80px;
    }
}

@media (max-width: 550px) {
    .post {
        margin-top: 35%;
        margin-bottom: 7vh;
    }
    .stars {
        width: 70%;
    }
    .prts {
        width: 80%;
    }
}

@media (max-width: 500px) {
    .main-theatre {
        height: 90vh;
    }
    .post {
        margin-top: 15%;
        margin-bottom: 7vh;
    }
    .prts {
        width: 100%;
        margin-top: 6vh;
    }
}

@media (max-width: 450px) {
    .theatre {
        height: 500vh;
    }
    .main-mc {
        margin-top: 30%;
    }
}
@media (max-width: 435px) {
    .post {
        margin-top: 60%;
    }
    @media (max-height: 1000px) {
        .post {
            margin-top: 10%;
        }
    }
}

@media (max-width: 420px) {
    .prts {
        margin-top: 6vh;
    }
}

@media (max-width: 395px) {
    .main-mc {
        margin-top: 40vh;
    }
    @media (max-height: 860px) {
        .main-mc {
            margin-top: 25vh;
        }
    }
    @media (max-height: 745px) {
        .main-mc {
            margin-top: 35vh;
        }
    }
    .textButton {
        margin-top: 20px;
    }
    .num {
        margin-top: 130px;
    }
    
    .theatre {
        height: 520vh;
    }
    @media (max-height: 750px) {
        .theatre {
            height: 535vh;
        }
    }
    @media (max-height: 680px) {
        .theatre {
            height: 540vh;
        }
    }
    @media (max-height: 650px) {
        .theatre {
            height: 550vh;
        }
    }
}

@media (max-width: 380px) {

    @media (max-height: 720px) {
        .theatre {
            height: 540vh;
        }
    }
    /* .theatre {
        height: 540vh;
    } */
    .main-content {
        margin-top: 15%;
    }

    .oText {
        font-size: 1.88vh;
        margin-top: 5%;
        text-align: center;
    }

    .oTextH {
        text-align: center;
        font-size: 2.5vh;
    }
}

@media (max-width: 350px) {
    .post {
        margin-top: 80%;
    }
}

@media (max-width: 330px) {
    .main-mc {
        margin-top: 60%;
    }
}