.main {
    width: 100%;
    height: 100vh;
    background-image: url('../img/fon.png');
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-link {
    font-size: 17px;
}

.nav-item {
    padding-right: 3%;
}

.main-content {
    display: flex;
    width: 70%;
    height: 49vh;
    /* border: solid 3px red; */
    margin: 0 auto;
    margin-top: 10%;
}

.main-text {
    width: 52%;
    margin-right: 12%;
    height: 75%;
    margin-top: 5%;
    /* border: solid 3px blue; */
}
.main-header {
    font-size: 54px;
}
.main-p {
    margin-top: 10%;
}
.main-button {
    margin-top: 5%;
    background: #D1A954;
    border: none;
    color: #ffffff;
    font-size: 18px;
    width: 160px;
    height: 50px;
}

.main-picture {
    width: 36%;
    /* border: solid 3px green; */
}

.picture {
    width: 20vw;
    height: 100%;
    /* border: solid 3px green; */
    margin: 0 auto;
    position: relative;
}
.img-afisha {
    max-height: 95%;
    position: absolute;
    z-index: 100;
}
.img-afisha-2 {
    position: absolute;
    margin-left: 5px;
    z-index: 1;
    max-height: 100%;
} 

#colorText {
    color: #ffffff;
}

.theatre {
    width: 100%;
    height: 100vh;
    background: #333333;
}

.colorYell {
    color: #D1A954;
}
.oTheatre {
    font-size: 48px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 3%;
}

.main-theatre {
    display: flex;
    width: 70%;
    height: 49vh;
    margin: 0 auto;
    margin-top: 5%;
}
.oTheatreText {
    width: 40%;
    /* border: solid 3px blue; */
    margin-right: 2.5%;
}
.oTheatreInfo{
    width: 23%;
    margin-right: 2.5%;
}
.oTheatrePicture{
    width: 32%;
    /* border: solid 3px yellow; */
}
.oTextH {
    font-size: 1vw;
}
.oText {
    /* font-size: 14px; */
    font-size: 1.82vh;
    margin-top: 5%;
}
.img-oTeatre {
    max-width: 100%;
    max-height: 100%;
    margin-top: 15%;
}
.info {
    height: 85%;
    margin-top: 10%;
}
.cheaInfo {
    height: 40%;
    width: 100%;
    /* border: solid 3px yellow; */
}
.cheaImg {
    width: 75px;
    height: 75px;
    /* border: solid 3px green; */
}
.img-chea {
    width: 100%;
    height: 100%;
}
.cheaText {
    font-weight: bold;
    font-size: 1.2vw;
    margin-top: 10%;
}

.earInfo {
    height: 50%;
    width: 100%;
}

@media (max-width: 1558px) {
    .oText {
        font-size: 1.5vh;
        margin-top: 15%;
    }

    .info {
        margin-top: 20%;
    }
}

@media (max-width: 1440px) {
    .main-header {
        font-size: 43px;
    }

    .main-p {
        font-size: 14px;
    }
}

@media (max-width: 1350px) {
    .cheaImg {
        width: 60px;
        height: 60px;
    }

    .oText {
        font-size: 1.35vh;
    }
}

@media (max-width: 1100px) {
    .cheaImg {
        width: 65px;
        height: 65px;
    }

    .oTextH {
        font-size: 1.8vh;
    }
}

@media (max-width: 1060px) {
    .oText {
        font-size: 1.31vh;
    }
}

@media (max-width: 992px) {
    .main-picture {
        display: none;
    }

    .main-text {
        width: 100%;
        height: 75%;
        margin-top: 5%;
    }

    .main-content {
        display: flex;
        width: 70%;
        height: 49vh;
        /* border: solid 3px red; */
        margin: 0 auto;
        margin-top: 30%;
    }

    .main-header {
        font-size: 53px;
    }

    .main-p {
        font-size: 16px;
    }

    .img-oTeatre {
        display: none;
    }
    .oTheatreText {
        width: 70%;
        margin-right: 5%;
    }
    .oTheatreInfo{
        width: 25%;
        position: absolute;
        right: 100px;
    }
    .oText {
        font-size: 1.7vh;
    }
    .oTextH {
        font-size: 2.3vh;
    }
    .info {
        margin-top: 27%;
    }
    .earInfo {
        height: 40%;
        margin-top: 10%;
        width: 100%;
    }
}

@media (max-width: 915px) {

    .main-theatre {
        width: 90%;
    }

    .oTheatreInfo {
        right: 40px;
    }
    .info {
        margin-top: 35%;
    }
}

@media (max-width: 875px) {
    .cheaText {
        font-size: 1.5vw;
    }
    
}

@media (max-width: 800px) {
    .oTheatreInfo {
        width: 30%;
        right: 20px;
    }
    .info {
        margin-top: 30%;
    }
    .cheaText {
        font-size: 1.5vw;
    }
}

@media (max-width: 720px) {
    .oText {
        font-size: 1.4vh;
    }
    .info {
        margin-top: 20%;
    }
    .oTheatreInfo {
        margin-right: 0%;
    }
}

@media (max-width: 665px) {
    .oTextH {
        font-size: 2vh;
    }
}

@media (max-width: 600px) {

    .main-text {
        width: 100%;
        height: 75%;
        margin-top: 5%;
    }

    .main-content {
        margin-top: 25%;
    }

    .main-header {
        font-size: 46px;
    }

    .main-p {
        font-size: 15px;
    }
}

@media (max-width: 590px) {
    .oText {
        font-size: 1.3vh;
    }
}

@media (max-width: 580px) {
    .main-theatre {
        display: block;
        width: 70%;
        height: 49vh;
        margin: 0 auto;
        margin-top: 5%;
    }
    .oTheatreText {
        width: 100%;
    }
    .oText {
        font-size: 1.6vh;
        margin-top: 5%;
    }
    .oTheatreInfo {
        width: 100%;
        right: 0;
        position: relative;
    }
    .info {
        display: flex;
        margin-top: 10%;
    } 
    .earInfo {
    height: 40%;
    margin-top: 10%;
    width: 100%;
    }
    .earInfo {
        height: 40%;
        margin-top: 0%;
        width: 100%;
    }
    .main-theatre {
        width: 70%;
        height: 55vh;
        margin-top: 5%;
    }
    
    .oTextH {
        text-align: center;
        font-size: 2.8vh;
    }
    .cheaImg {
        margin: 0 auto;
    }
    .cheaText {
        text-align: center;
    }
}

@media (max-width: 380px) {

    .main-content {
        margin-top: 15%;
    }
}